.profile__info{
    color: white;
    margin-top: 22px;
    max-width: 100%;
}

.profile__info > *:not(:last-child){
    margin-bottom: 7px;
}

@media screen and (max-width: 768px) {
    .profile__info{
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .profile__info{
        margin-top: 26px;
        margin-bottom: 36px;
    }
    .profile__info > *:not(:last-child){
        margin-bottom: 5px;
    }
}

