.card__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity .2s linear;
    background-image: url(../../../images/places/Trash.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 18px;
    min-height: 19px;
}

.card__delete:hover{
    opacity: .6;
    cursor: pointer;
}