.header__link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 22px;
    transition: color .2s linear;

}

.header__link:hover{
    color: #A9A9A9;
}

@media screen and (max-width: 320px){
    .header__link{
        font-size: 14px;
        line-height: 17px;
    }
}