.profile__body{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 120px 339px auto 150px;
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .profile__body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .profile__body{
        gap: 0;
    }
}