/*@keyframes navbarAppear {*/
/*    from {*/
/*        top: -106px;*/
/*    }*/
/*    to {*/
/*        top: 0;*/
/*    }*/
/*}*/

/*.header__menu {*/
/*    animation: navbarAppear 0.3s ease-in-out;*/
/*}*/

.menu{
    display: none;
}

@media screen and (max-width: 700px) {
    .menu{
        transform: translateY(-100%);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        flex-direction: column;
        padding: 40px 0;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    }
}
