.root__container{
    max-width: 880px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: content-box;
}

@media screen and (max-width: 425px) {
    .root__container{
        padding-right: 19px;
        padding-left: 19px;
    }
}