.form__input_el_authorization{
    background-color: transparent;
    border-bottom: 2px solid #CCCCCC;
    color: #CCCCCC;
}

/*.form__input_el_authorization:not(:last-child){*/
/*    margin-bottom: 10px;*/
/*}*/